In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

In [4]:
data=pd.read_csv('customer.csv')
data

,customer_id,gender,age,region,tenure,phones,contracts,internet,ebill,payment_method,churn
0,1,Female,27,North,12,1,1,1,Yes,Auto-pay,No
1,2,Male,55,West,48,2,3,2,No,Auto-pay,Yes
2,3,Male,41,South,23,1,2,1,Yes,Credit Card,No
3,4,Female,20,East,2,1,1,1,No,Auto-pay,Yes
4,5,Female,68,North,56,3,3,2,Yes,Bank Transfer,No
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Female,48,West,47,3,2,2,Yes,Bank Transfer,No
96,97,Female,33,East,11,1,1,1,Yes,Credit Card,Yes
97,98,Male,52,South,36,2,3,2,Yes,Auto-pay,No
98,99,Male,31,West,7,1,1,1,Yes,Bank Transfer,Yes
99,100,Female,59,East,58,2,3,2,Yes,Credit Card,No

In [5]:
label_encoder = LabelEncoder()
data['churn'] = label_encoder.fit_transform(data['churn'])
data['region'] = label_encoder.fit_transform(data['region'])
data['gender'] = label_encoder.fit_transform(data['gender'])
data['ebill'] = label_encoder.fit_transform(data['ebill'])
data['payment_method'] = label_encoder.fit_transform(data['payment_method'])
data

,customer_id,gender,age,region,tenure,phones,contracts,internet,ebill,payment_method,churn
0,1,0,27,1,12,1,1,1,1,0,0
1,2,1,55,3,48,2,3,2,0,0,1
2,3,1,41,2,23,1,2,1,1,2,0
3,4,0,20,0,2,1,1,1,0,0,1
4,5,0,68,1,56,3,3,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,48,3,47,3,2,2,1,1,0
96,97,0,33,0,11,1,1,1,1,2,1
97,98,1,52,2,36,2,3,2,1,0,0
98,99,1,31,3,7,1,1,1,1,1,1
99,100,0,59,0,58,2,3,2,1,2,0

In [6]:
y=data['churn']
X=data.drop(['churn','customer_id'],axis=1)

In [7]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [9]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [10]:
y_pred = model.predict(X_test)

In [11]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

In [12]:
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"Confusion Matrix:\n{conf_matrix}")

Accuracy: 0.8
Precision: 0.5555555555555556
Recall: 1.0
Confusion Matrix:
[[11  4]
 [ 0  5]]

In [13]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.73      0.85        15
           1       0.56      1.00      0.71         5

    accuracy                           0.80        20
   macro avg       0.78      0.87      0.78        20
weighted avg       0.89      0.80      0.81        20